# Ignore progress
progress/
*.progress
progress.*

# Ignore old scripts
old-scripts/
old_scripts/
scripts/old/
*old*.sh

# Ignore backups
*.bak
*.backup
*~
backup/

.vscode/

worker_runtime_scripts/Video_Gen_from_burnerspam-v21/__pycache__/
worker_runtime_scripts/Video_Gen_from_burnerspam-v21/bin/
worker_runtime_scripts/Video_Gen_from_burnerspam-v21/ffmpeg6/